In [4]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv('sales_data.csv')
df.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.30,0.016047,249.8092,1999,3735.1380,0,1,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.92,0.019278,48.2692,2009,443.4228,0,0,1,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.50,0.016760,141.6180,1999,2097.2700,0,1,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.20,0.000000,182.0950,1998,732.3800,0,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
4,8.93,0.000000,53.8614,1987,994.7052,0,1,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Item_Weight                      8523 non-null   float64
 1   Item_Visibility                  8523 non-null   float64
 2   Item_MRP                         8523 non-null   float64
 3   Outlet_Establishment_Year        8523 non-null   int64
 4   Item_Outlet_Sales                8523 non-null   float64
 5   Item_Fat_Content_LF              8523 non-null   int64
 6   Item_Fat_Content_Low Fat         8523 non-null   int64
 7   Item_Fat_Content_Regular         8523 non-null   int64
 8   Item_Fat_Content_low fat         8523 non-null   int64
 9   Item_Fat_Content_reg             8523 non-null   int64
 10  Item_Type_Baking Goods           8523 non-null   int64
 11  Item_Type_Breads                 8523 non-null   int64
 12  Item_Type_Breakfast              8523 non-null   int64
 13  Item_Type_Canned                 8523 non-null   int64
 14  Item_Type_Dairy                  8523 non-null   int64
 15  Item_Type_Frozen Foods           8523 non-null   int64
 16  Item_Type_Fruits and Vegetables  8523 non-null   int64
 17  Item_Type_Hard Drinks            8523 non-null   int64
 18  Item_Type_Health and Hygiene     8523 non-null   int64
 19  Item_Type_Household              8523 non-null   int64
 20  Item_Type_Meat                   8523 non-null   int64
 21  Item_Type_Others                 8523 non-null   int64
 22  Item_Type_Seafood                8523 non-null   int64
 23  Item_Type_Snack Foods            8523 non-null   int64
 24  Item_Type_Soft Drinks            8523 non-null   int64
 25  Item_Type_Starchy Foods          8523 non-null   int64
 26  Outlet_Identifier_OUT010         8523 non-null   int64
 27  Outlet_Identifier_OUT013         8523 non-null   int64
 28  Outlet_Identifier_OUT017         8523 non-null   int64
 29  Outlet_Identifier_OUT018         8523 non-null   int64
 30  Outlet_Identifier_OUT019         8523 non-null   int64
 31  Outlet_Identifier_OUT027         8523 non-null   int64
 32  Outlet_Identifier_OUT035         8523 non-null   int64
 33  Outlet_Identifier_OUT045         8523 non-null   int64
 34  Outlet_Identifier_OUT046         8523 non-null   int64
 35  Outlet_Identifier_OUT049         8523 non-null   int64
 36  Outlet_Size_High                 8523 non-null   int64
 37  Outlet_Size_Medium               8523 non-null   int64
 38  Outlet_Size_Small                8523 non-null   int64
 39  Outlet_Location_Type_Tier 1      8523 non-null   int64
 40  Outlet_Location_Type_Tier 2      8523 non-null   int64
 41  Outlet_Location_Type_Tier 3      8523 non-null   int64
 42  Outlet_Type_Grocery Store        8523 non-null   int64
 43  Outlet_Type_Supermarket Type1    8523 non-null   int64
 44  Outlet_Type_Supermarket Type2    8523 non-null   int64
 45  Outlet_Type_Supermarket Type3    8523 non-null   int64
dtypes: float64(4), int64(42)
memory usage: 3.0 MB

In [7]:
x = df.drop('Item_Outlet_Sales',axis=1)
x

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,Item_Type_Baking Goods,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.300,0.016047,249.8092,1999,0,1,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.920,0.019278,48.2692,2009,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.500,0.016760,141.6180,1999,0,1,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.200,0.000000,182.0950,1998,0,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,8.930,0.000000,53.8614,1987,0,1,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,6.865,0.056783,214.5218,1987,0,1,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
8519,8.380,0.046982,108.1570,2002,0,0,1,0,0,1,...,0,0,0,0,1,0,0,1,0,0
8520,10.600,0.035186,85.1224,2004,0,1,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
8521,7.210,0.145221,103.1332,2009,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,1,0
8522,14.800,0.044878,75.4670,1997,0,1,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0

In [9]:
y = df[['Item_Outlet_Sales']]
y

      Item_Outlet_Sales
0             3735.1380
1              443.4228
2             2097.2700
3              732.3800
4              994.7052
...                 ...
8518          2778.3834
8519           549.2850
8520          1193.1136
8521          1845.5976
8522           765.6700

[8523 rows x 1 columns]

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=1)

In [11]:
LiModel = LinearRegression()
LiModel.fit(x_train,y_train)

LinearRegression()

In [13]:
y_pred = LiModel.predict(x_test)
y_pred[0:5]

array([[ 529.9984577 ],
       [1222.77259157],
       [3203.40348821],
       [1478.47827306],
       [ 790.82695774]])

In [14]:
y_test[0:5]

      Item_Outlet_Sales
1070           952.7598
6305          1133.8574
8504          4138.6128
5562          1657.1762
1410           679.1160

In [15]:
Accuracy = r2_score(y_test,y_pred)
Accuracy

0.5619682897599159

In [16]:
import pickle

In [17]:
with open('LiModel.pkl','wb') as file:
    pickle.dump(LiModel,file)

In [19]:
with open('LiModel.pkl','rb') as file:
    pic_model = pickle.load(file)

In [20]:
pic_model.predict(x_test)

array([[ 529.9984577 ],
       [1222.77259157],
       [3203.40348821],
       ...,
       [ 648.68239927],
       [2288.33596459],
       [ 999.29867625]])

array([[ 529.9984577 ],
       [1222.77259157],
       [3203.40348821],
       [1478.47827306],
       [ 790.82695774]])

In [22]:
li_col = [i for i in x_test.columns]
li_col

['Item_Weight',
 'Item_Visibility',
 'Item_MRP',
 'Outlet_Establishment_Year',
 'Item_Fat_Content_LF',
 'Item_Fat_Content_Low Fat',
 'Item_Fat_Content_Regular',
 'Item_Fat_Content_low fat',
 'Item_Fat_Content_reg',
 'Item_Type_Baking Goods',
 'Item_Type_Breads',
 'Item_Type_Breakfast',
 'Item_Type_Canned',
 'Item_Type_Dairy',
 'Item_Type_Frozen Foods',
 'Item_Type_Fruits and Vegetables',
 'Item_Type_Hard Drinks',
 'Item_Type_Health and Hygiene',
 'Item_Type_Household',
 'Item_Type_Meat',
 'Item_Type_Others',
 'Item_Type_Seafood',
 'Item_Type_Snack Foods',
 'Item_Type_Soft Drinks',
 'Item_Type_Starchy Foods',
 'Outlet_Identifier_OUT010',
 'Outlet_Identifier_OUT013',
 'Outlet_Identifier_OUT017',
 'Outlet_Identifier_OUT018',
 'Outlet_Identifier_OUT019',
 'Outlet_Identifier_OUT027',
 'Outlet_Identifier_OUT035',
 'Outlet_Identifier_OUT045',
 'Outlet_Identifier_OUT046',
 'Outlet_Identifier_OUT049',
 'Outlet_Size_High',
 'Outlet_Size_Medium',
 'Outlet_Size_Small',
 'Outlet_Location_Type_Tier 1',
 'Outlet_Location_Type_Tier 2',
 'Outlet_Location_Type_Tier 3',
 'Outlet_Type_Grocery Store',
 'Outlet_Type_Supermarket Type1',
 'Outlet_Type_Supermarket Type2',
 'Outlet_Type_Supermarket Type3']

In [23]:
len(li_col)

45

In [29]:
user_df = pd.DataFrame(columns = li_col)

In [30]:
user_df

Empty DataFrame
Columns: [Item_Weight, Item_Visibility, Item_MRP, Outlet_Establishment_Year, Item_Fat_Content_LF, Item_Fat_Content_Low Fat, Item_Fat_Content_Regular, Item_Fat_Content_low fat, Item_Fat_Content_reg, Item_Type_Baking Goods, Item_Type_Breads, Item_Type_Breakfast, Item_Type_Canned, Item_Type_Dairy, Item_Type_Frozen Foods, Item_Type_Fruits and Vegetables, Item_Type_Hard Drinks, Item_Type_Health and Hygiene, Item_Type_Household, Item_Type_Meat, Item_Type_Others, Item_Type_Seafood, Item_Type_Snack Foods, Item_Type_Soft Drinks, Item_Type_Starchy Foods, Outlet_Identifier_OUT010, Outlet_Identifier_OUT013, Outlet_Identifier_OUT017, Outlet_Identifier_OUT018, Outlet_Identifier_OUT019, Outlet_Identifier_OUT027, Outlet_Identifier_OUT035, Outlet_Identifier_OUT045, Outlet_Identifier_OUT046, Outlet_Identifier_OUT049, Outlet_Size_High, Outlet_Size_Medium, Outlet_Size_Small, Outlet_Location_Type_Tier 1, Outlet_Location_Type_Tier 2, Outlet_Location_Type_Tier 3, Outlet_Type_Grocery Store, Outlet_Type_Supermarket Type1, Outlet_Type_Supermarket Type2, Outlet_Type_Supermarket Type3]
Index: []

[0 rows x 45 columns]

In [31]:
user_df.loc[0] = np.zeros(len(li_col))

In [33]:
user_df.to_csv('Testing_Df.csv',index=False)

In [34]:
user_df

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,Item_Type_Baking Goods,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
user_df['Item_Weight']                  = 9.30
user_df['Item_Visibility']              = 0.016047
user_df['Item_MRP']                     = 249.8092
user_df['Outlet_Establishment_Year']    = 1999
Location = 'Item_Fat_Content_Regular'
user_df[Location] = 1

In [38]:
user_df

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,Item_Type_Baking Goods,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.3,0.016047,249.8092,1999,0.0,0.0,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
res = pic_model.predict(user_df)[0][0]
user_df.loc[0] = np.zeros(len(li_col))
res

3496.7702859450146

In [41]:
pic_model.predict(user_df)[0][0]

3496.7702859450146

In [44]:
user_df

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,Item_Type_Baking Goods,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,0.0,0.0,0.0,0,0.0,0.0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Item_Weight Item_Visibility   Item_MRP    Outlet_Establishment_Year  Item_Fat_Content_Regular Actual sales Predicted sales

9.30           0.016047          249.8092       1999                          1                 3735.1380   3496.7702859450146

In [45]:
def Sales_Prediction(Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Location):
    user_df['Item_Weight']                  = Item_Weight
    user_df['Item_Visibility']              = Item_Visibility
    user_df['Item_MRP']                     = Item_MRP
    user_df['Outlet_Establishment_Year']    = Outlet_Establishment_Year
    user_df[Location] = 1
    res = pic_model.predict(user_df)[0][0]
    user_df.loc[0] = np.zeros(len(li_col))
    return np.round(res,3)

In [46]:
Sales_Prediction(9.30,0.016047,249.8092,1999,'Item_Fat_Content_Regular')

3496.77